body {
  margin: 0;
  padding: 0;
  background-color: #616161;
  font-family: 'Roboto', sans-serif;
}

.dm-highlight .selected {
  border: 2px solid blue;
}

.ProseMirror-menubar {
  min-height: 48px !important;
}

.ProseMirror {
  /* max-height: 1000px;
  overflow-y: scroll; */
}

.ProseMirror:focus {
  outline: none;
}
