
** To use this file, make a copy called config.json and remove this note from it. **

{
    "mongoDatabaseURL": "mongodb://localhost:27017/",
    "mongoDatabaseName": "dm2_import",
    "logFile": "log/ttl-test.log",
    "inputTTLFile": "ttl/Virtual_mappa.ttl",
    "outputJSONFile": "ttl/Virtual_mappa.json",
    "virtualMappa": true
}